* {
  margin: 0 auto;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #22272e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 14px;
}
.logo {
  max-width: 227px;
}
.title {
  color: #ffffff;
  text-align: center;
  margin: 24px 0;
}
.form label {
  color: #ffffff;
  font-size: 20px;
}
.input {
  width: 100%;
  height: 48px;
  border: 0;
  border-radius: 4px;
  font-size: 20px;
  padding: 0 14px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.button {
  background-color: #119cea;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  height: 48px;
  width: 100%;
}

.result {
  background-color: #00b63e;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  max-width: 420px;
  padding: 20px 28px;
  text-align: center;
  transition: transform 0.8s;
  width: 100%;
}
.result:hover {
  transform: scale(1.1);
}
.result-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.result span {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 8px;
}
